.states{
    background-color: #D2093C;

}
.statesBox {
    border-right: 0.1px solid rgba(178, 178, 178, 0.375);
}
.statesBox h4{
    line-height: 1.2;
    font-size: 20px;
    font-weight: 700;
}
.statesBox h1{
    font-weight: 800;
    font-size: 50px;
}
.statesBox h6{
    letter-spacing: 2px;
    font-size: 14px;
}