.customBtn button{
    padding: 12px 35px;
    border: none;
    background:none;
    color: #00306E;
    border: 1px solid rgba(167, 164, 164, 0.712);
    border-radius: 4px;
    font-weight: 500;
}
.customBtn button:hover{
    background-color: #D2093C;
    color: white;
    transition: .8s;
    border: 1px solid rgba(255, 255, 255, 0);
}